@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(./images/bg0.png) no-repeat;
    background-size: cover;
}
h1{
    color: #fff;
    text-shadow: black 2px 2px;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.modal-album-info{
    width: 100% !important;
    height: 100vh !important;
    z-index: 9999;
    position: absolute;
    top: 1;
    background: #00000093;
    display: none;
    align-items: center;
    justify-content: center;
    text-overflow: auto;
}

.modal-album-info .modal-content{
    background: #fff;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    text-overflow: auto;
}
.modal-album-info .modal-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: auto;
    justify-content: center;
}
.modal-album-info .modal-content .content h2{
    text-transform: capitalize;
}
.modal-album-info .modal-content .content p, .modal-album-info .modal-content .content li{
    font-size: 0.7rem;
    padding: 1px;
}

.modal-album-info .modal-content .content p{
    align-self: baseline;
    font-weight: 500;
}

.container{
    width: 30%;
    height: 70%;
}
.sound-wave{
    align-self: center;
    width: 100%;
    height: 50%;
    z-index: -2;
    position: absolute;
    top: 1;
    background: url("./images/sound-waves.gif") no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
}
.display {
    display: block;
}

.container .player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.206) 10px 10px;
}

.container .player-container .mute-button{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.container .player-container .mute-button i{
    font-size: 2rem;
}

.container .player-container .mute-button i:hover {
    opacity: 0.5;
    cursor: pointer;
}

.container .player-container .album-image{
    background: url(./images/music-image1.png) no-repeat;
    width: 70%;
    height: 70%;
    background-size: cover;
    margin-top: 2rem;
    background-position: center;
}

.container .player-container .album-image:hover{
    opacity: 0.8;
    cursor: pointer;
}

.container .player-container .album-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .player-container .album-title .title{
    font-weight: bold;
    text-transform: capitalize;
    text-overflow: hidden;
    text-align: center;
}

.container .player-container .album-title .sub-title {
    font-size: 0.7rem;
    text-transform: capitalize;
    color: grey;
    text-align: center;
}
#control-play{
    display: none;
}
.visibility{
    display: block;
}

.container .player-container .time-tracker-time{
    margin-bottom: 1rem;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.container .player-container .time-tracker-time span{
    padding-top: 1rem;
    font-size: 0.6rem;
}

.container .player-container .time-tracker{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .player-container .time-tracker .bar{
    width: 70%;
    cursor: pointer;
}


.container .player-container .directions{
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .player-container .directions i:hover{
    opacity: 0.5;
    cursor: pointer;
}
.container .player-container .directions .play{
    font-size: 2.7rem;
}

@media (min-width: 1200px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .player-container {
        width: 60%;
    }
}

@media (max-width: 1500px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .player-container {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
}

@media (max-width: 700px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}

@media (max-width: 400px) {
    h1{
        font-size: 2rem;
    }
}