@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(./images/bg.png) no-repeat;
    background-size: cover;
}
h1{
    color: #fff;
    text-shadow: black 2px 2px;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.container{
    width: 30%;
    height: 60%;
}

.container .player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.206) 10px 10px;
}

.container .player-container .album-image{
    background: url(./images/music-image1.png) no-repeat;
    width: 70%;
    height: 70%;
    background-size: cover;
    margin-top: 2rem;
}

.container .player-container .album-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .player-container .album-title .title{
    font-weight: bold;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.container .player-container .album-title .sub-title {
    font-size: 0.7rem;
    text-transform: capitalize;
    color: grey;
    text-overflow: ellipsis;
}

.container .player-container .time-tracker{
    width: 70%;
    margin-bottom: 1rem;
}
.container .player-container .time-tracker .bar{
    height: 9px;
    border-radius: 20px;
    background: #b0aaaacd;
}
.container .player-container .time-tracker .bar .bar-content{
    background: #000;
    width: 50%;
}

.container .player-container .directions{
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .player-container .directions i:hover{
    opacity: 0.5;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .player-container {
        width: 60%;
    }
}

@media (max-width: 1500px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .player-container {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
}

@media (max-width: 700px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}

@media (max-width: 400px) {
    h1{
        font-size: 2rem;
    }
}